@{
    ViewData["Title"] = "Sobre o Projeto";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="container jumbotron">
   <div class="alert alert-warning">
       Projeto desenvolvido com objetivo de estudar e revisar alguns assuntos, ferramentas e etc...
   </div>
</div>



