@model CAP.ApplicationCore.ViewModels.Curso.CursoViewModel

<h1>Informações do Curso</h1>

<table class="table table-bordered">
    <tr>
        <th>Titulo</th>
        <th>Descrição</th>
    </tr>
    <tr>
        <td>@Model.Titulo</td>
        <td>@Model.Descricao</td>
    </tr>
</table>
