<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        ASP NET CORE MVC
    </div>
    <!-- Default to the left -->
    Desenvolvedor: Thiago Vinícius
</footer>
